.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    
  }

  .cardInd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    
  }

  a {
      font-size: 17px;
  }

  .img {
      margin: 30px;
  }

  .listaProductos {
    display: flex;
    flex-wrap: wrap;
  }

  .repo {
    color: #1976d2;
    text-decoration: none;
    font-weight: 400;
  }

  