h3 .shop-detail{
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 1.5em 0 2em 0;
    color: #323a40;
}
.cuerpo-detail{
    margin-top: 80px;
}
p.italic-blue {
    font-style: italic;
    color: #89bff3;
    font-weight: 500;
}

.disponible span a {
    margin: 4% 0;
    display: block;
    color: #555555;
    font-size: 0.8725em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: underline;
}

.desc1-derch h3 {
    text-shadow: 0 1px 0 #ffffff;
    color: #1e272e;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.desc1-derch h5 {
    font-size: 1.3em;
    color: #62676b;
    line-height: 1.5em;
    -webkit-text-stroke: 0.2px;
    font-weight: 400;
}

.desc1-derch h5 a {
    margin-left: 5px;
    color: #555555;
    text-transform: capitalize;
    font-size: 14px;
    -webkit-text-stroke: 0px;
    letter-spacing: 0px;
}

.buscar h4 {
    font-size: 0.9em;
    color: #555555;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: 400;
}

.desc1-derch h5 span {
    text-decoration: line-through;
}

.social-ficons ul {
    padding: 0;
    margin: 0;
}

.social-ficons ul li {
    display: inline-block;
    margin: 0 1em;
}

.social-ficons ul li a {
    color: #333;
    text-align: center;
    font-size: 15px;
}

.social-ficons ul li a span.fab.fa-facebook-f {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #3b5998;
    transition: 0.5s all;
}

.social-ficons ul li a:hover span.fab.fa-facebook-f {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #3b5998;
    color: #FFFFFF;
}

.social-ficons ul li a span.fab.fa-twitter {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #1da1f2;
    transition: 0.5s all;
}

.social-ficons ul li a:hover span.fab.fa-twitter {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #1da1f2;
    color: #FFFFFF;
}

.social-ficons ul li a span.fab.fa-google-plus-g {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #ea4335;
    transition: 0.5s all;
    
}

.social-ficons ul li a:hover span.fab.fa-google-plus-g {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #ea4335;
    color: #FFFFFF;
}
.loader{
    width: 340px;
    margin-top: 80px;
}
.container{
    text-align: center;
}
.count{
    margin-bottom: 25px;
}
.fin-Comp{
    display: grid;
}
.btn.shop {
    margin-top: 10px;
    background: #ec1c24;
    color: #fff;
    padding: 0.6em 2.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-decoration: none;
    
}